* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
button {
  text-decoration: none;
  display: block;
  color: #fff;
}

#app {
  margin: 0 auto;
  font-family: "Popins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
  color: #fff;
}
