* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
button {
  text-decoration: none;
  display: block;
  color: #fff;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Popins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg, rgba(1,5,13,1) 0%,
    rgba(28,44,64,1) 50%,
    rgba(1,5,13,1) 100%
  );
}

body {
  scroll-behavior: smooth;
  color: #fff;
}
