.card-program {
  padding: 25px;
  width: 200px;
  background: linear-gradient(
    300deg,
    rgba(1,5,13,1) 50%,
    rgba(35,47,63,1) 80%,
    rgba(28,44,64,1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  transition: all 0.2s linear;

  &__button {
    color: rgba(90, 186, 74, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    transition: color 0.2s linear;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background: linear-gradient(
      300deg,
      rgb(29, 13, 6) 50%,
      rgb(45, 24, 14) 80%,
      rgb(68, 31, 15) 100%
    );
    transform: scale(1.05);

    & .card-program__button {
      color: #fff;
    }
  }

  &__vector {
    margin-bottom: 20px;
    width: 45px;
    height: 45px;
  }

  &__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }

  &__description {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }
}
