.join-me {
  &__container {
    @include container();
    display: flex;
    justify-content: space-around;
  }

  &__information {
    width: 400px;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
  }

  &__description {
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }

  &__achievements {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__achievement {
    display: flex;
    gap: 6px;
  }

  &__photos {
    padding: 30px;
    display: flex;
    gap: 30px;
    background: #030712;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-img {
      width: 200px;
      height: 150px;
    }
  }

  &__right-side-img {
    width: 200px;
    height: 320px;
  }
}
