.main {
  padding-bottom: 45px;
  background-color: #192023;

  &__join-me {
    padding: 0 60px;
    margin-bottom: 100px;
  }

  &__pricing-plan {
    padding: 0 60px;
  }

  &__results {
    margin-bottom: 130px;
  }

  &__write-me {
    padding: 65px 0 50px;
    margin: 0 60px;
  }
}
