.program-build {
  padding-top: 100px;

  &__title {
    position: relative;
    margin: 0 auto 50px;
    display: flex;
    width: 500px;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    text-align: center;

    &::after {
      position: absolute;
      content: url("../../assets/svg/main/dumbbell.svg");
      width: 88px;
      height: 90px;
      right: -150px;
      top: 20px;
    }
  }

  &__container {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

}
