.program-build {
  margin-top: 100px;
}

.program-build-title {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 340px;
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  text-transform: capitalize;
}

.program-build-title::after {
  position: absolute;
  content: url("../../assets/svg/main/dumbbell.svg");
  width: 88px;
  height: 90px;
  right: -150px;
  top: 20px;
}
