.write-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    300deg,
    rgba(1,5,13,1) 50%,
    rgba(35,47,63,1) 80%,
    rgba(28,44,64,1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  &__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 20px;
  }

  &__description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &__form {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &__input {
    width: 250px;
    padding: 8px 16px;
    background: none;
    border: 1px solid #9dad9a;
    border-radius: 2px;
    font-size: 10px;
    color: #fff;

    &:hover {
      border-color: #5aba4a;
    }
  }

  &__button {
    padding: 8px 15px;
    border: 1px solid #5aba4a;
    border-radius: 2px;
    color: #fff;
    background: #5aba4a;
    font-size: 11px;
    transition: all 0.2s linear;

    &:hover {
      cursor: pointer;
      border-color: #5aba4a;
      background: transparent;
      color: #5aba4a;
    }
  }

  &__background-ellipse {
    position: absolute;

    &--left {
      top: -18px;
      right: 15%;
      transform: rotate(90deg);
    }

    &--right {
      bottom: -17px;
      left: 15%;
      transform: rotate(270deg);
    }
  }
}
