.logo {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &__title {
    &--color {
      color: #f97239;
    }
  }
}
